<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logger-defaults.xml"/>

    <springProfile name="json-log">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="de.itscope.chartservice.log.JsonLogEncoder"/>
        </appender>
    </springProfile>

    <springProfile name="!json-log">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>
</configuration>